@import 'font';

$animation-duration: 300ms;

body {
    color: black;
    background: white;
    text-align: center;
}

.search-form-container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    label {
        flex-basis: fit-content;
    }

    .input-container {
        flex: 1;
        margin: 10px;

        input {
            width: 100%;
        }
    }

    .search-button-container {
        flex-basis: fit-content;

        button {
            $background-color: #ffc000;

            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            padding: 3px 10px;
            margin: 10px 5px;
            font-size: 1em;
            background-color: $background-color;
            color: white;
            cursor: pointer;
            border: 0;
            transition: background-color $animation-duration;

            &:hover {
                background-color: lighten($background-color, 10%);
            }
            &:active {
                background-color: darken($background-color, 5%);
            }
        }
    }
}

.result-container {
    margin: 20px 10px;

    &[data-found='yes'] {
        .not-found {
            display: none;
        }
        .found {
            display: flex;
        }
    }
    &[data-found='no'] {
        .not-found {
            display: block;
        }
        .found {
            display: none;
        }
    }

    .found {
        width: 70%;
        margin: 0 auto;

        .user-name-container {
            flex: 1;
            text-align: start;
        }
        .invite-button-container {
            flex-basis: fit-content;

            button {
                $background-color: #ffc000;

                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                background-color: $background-color;
                border: none;
                padding: 3px 10px;
                transition: background-color $animation-duration;
                cursor: pointer;

                &:hover {
                    background-color: lighten($background-color, 10%);
                }
                &:active {
                    background-color: darken($background-color, 5%);
                }
            }
        }
    }
}

.top-link-container {
    margin-top: 100px;

    a {
        $background-color: #ffc000;

        text-decoration: none;
        color: white;
        background-color: $background-color;
        display: inline-block;
        padding: 10px 25%;
        font-size: 25px;
        transition: background-color $animation-duration;

        &:hover {
            background-color: lighten($background-color, 10%);
        }
        &:active {
            background-color: darken($background-color, 5%);
        }
    }
}
